.alarm {
    width: 32px;
    height: 31px;
}

.book-2 {
    width: 32px;
    height: 32px;
}

.computer-ok {
    width: 32px;
    height: 28px;
}

.facebook {
    width: 12px;
    height: 26px;
}

.home {
    width: 32px;
    height: 31px;
}

.image {
    width: 32px;
    height: 32px;
}

.instagram {
    width: 26px;
    height: 26px;
}

.line-graph {
    width: 32px;
    height: 32px;
}

.pinterest {
    width: 20px;
    height: 26px;
}

.search {
    width: 18px;
    height: 18px;
}

.shopping-cart {
    width: 18px;
    height: 15px;
}

.twitter {
    width: 26px;
    height: 22px;
}

